.add-content-wrapper {
    .available-type-list {
        .available-type-item {
            cursor: pointer;

            i {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}
