.edit-binary-wrapper{
    .mdc-dialog__surface{
        width: 90%;
        height: 90%;

        .mdc-dialog__body{
            height: -webkit-fill-available;
            // overflow: hidden;
            .monaco-edit-wrapper{
                height: 100%;
            }
        }
    }
}