.explore-wrapper{

    display: flex;

    .loader-wrapper{
        &.transparent{
            opacity: 0;
        }

        &.visible{
            transition-delay: .3s;
            opacity: 1;
        }
        transition: opacity ease-in-out .3s;
    }

    .content-wrapper{
        padding: .5em;
    }

    .edit-content-dialog{
        .mdc-dialog__surface{
            max-width: 75%;
            max-height: 90%;
            .mdc-dialog__body--scrollable{
                max-height: 800px;
                overflow: auto;
            }
        }
    }
}