.explore-wrapper{

    display: flex;

    .loader-wrapper{
        &.transparent{
            opacity: 0;
        }

        &.visible{
            transition-delay: .3s;
            opacity: 1;
        }
        transition: opacity ease-in-out .3s;
    }

    .mdc-toolbar{
        .mdc-toolbar__section {

            align-items: center;

            .material-icons{
                padding: 0 .5em;
                cursor: pointer;

                &:last-child{
                    padding-right: 1em;
                }
            }

            .searchBar{
                height: 2.7em;
                width: 10rem;
                transition: all 400ms cubic-bezier(0.6, -0.28, 0.735, 0.045);

                label{
                    white-space: nowrap;
                }

                &.hidden{
                    width: 0;
                    opacity: 0;
                }
            }
        }
    }

    .content-wrapper{
        padding: .5em;
    }

    .edit-content-dialog{
        .mdc-dialog__surface{
            max-width: 75%;
            max-height: 90%;
            .mdc-dialog__body--scrollable{
                max-height: 800px;
                overflow: auto;
            }
        }
    }
}