.explore-wrapper{

    .loader-wrapper{
        &.transparent{
            opacity: 0;
        }

        &.visible{
            transition-delay: .3s;
            opacity: 1;
        }

        transition: opacity ease-in-out .3s;
    }

    .explore-mobile-nav{
        position: absolute;
        top: -1.6em;
        left: 0.5em;
    }
}