body {
    margin: 0;
}

html.mdc-theme--dark {
    background: var(--mdc-permanent-drawer-dark-theme-bg-color);

    .mdc-toolbar__row {
        &::after {
            filter: brightness(0.5);
        }
    }

    .mdc-fab__icon{
      color: white;
    }
}

.mdc-toolbar__row:first-child {
    &::after {
        background-image: url("../static/header.png");
        background-size: cover;
        background-position: center;
    }

    .mdc-switch {
        margin: 1.25em;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100;
    }

    100% {
        opacity: 0;
    }
}

section.au-enter {
    opacity: 100;//translate(100%, 0);
}

section.au-enter-active {
    animation: fadeIn 0.3s cubic-bezier(0.755, 0.050, 0.855, 0.060);;
}

section.au-leave-active {
    animation: fadeOut 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

[md-tabs] .waves-effect {
    position: static;
}



/*
TEMPFIX Select on Dialogs
Related issue: Wrong position of opened Select inside Dialog component
https://github.com/material-components/material-components-web/issues/719
*/

.mdc-select__menu{
    left: 0px !important;
    top: 0px !important;
    position: inherit !important;
    max-height: max-content !important;
    overflow: auto !important;
}

/*
FIX - Dialog vs mdc-toolbar
*/

.mdc-toolbar.mdc-toolbar--fixed.mdc-toolbar--waterfall.mdc-toolbar--flexible.mdc-toolbar--flexible-default-behavior.au-target.mdc-toolbar--flexible-space-maximized{
    z-index: -1
}
