nav-bar .primary{
    background-color: rgba(255,255,255, .6) !important;
}

.page-host{
    margin: 5px 25px;
   
}

@keyframes slideLeftIn {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes slideLeftOut {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
section.au-enter {
  transform: translate(100%, 0);
}
section.au-enter-active {
  animation: slideLeftIn 0.3s ease-out;
}
section.au-leave-active {
  animation: slideLeftOut 0.3s ease-out;
}